@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins' as *;

footer {
  background-color: $color-primario;
  color: white;
  font-family: $fuente-secundaria;
  font-size: 0.9rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-top: none;

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.footer-text {
  flex: 1;
  min-width: 150px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline; // Si quieres quitarlo en hover también, pon "none"
  }
}


.footer-logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .logo-svg {
    max-width: 80px;
    height: auto;
  }
}


    .logo-svg {
      width: 100%;
      max-width: 80px;
      flex-shrink: 0;
    }

    .logo-bg {
      fill: $color-primario;
    }

    .footer-text {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center; // asegura buen alineado interno


      ul.list-inline {
        flex-shrink: 0;
        color: white;
      }

      h5,
      p {
        margin: 0;
      }
    }
  }
