@use '../../../styles/variables' as *;

.rol-cliente {
  color: $color-secundario;
  font-weight: bold;
}

.rol-interno {
  color: $color-primario;
  font-weight: bold;
}

.buscador-email {
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;

  .table {
    min-width: 700px;
  }
}
