$color-primario: #1E2A38;
$color-secundario: #FF6B00;
$color-fondo: #F7F8FA;
$color-texto: #333333;
$color-borde: #E0E0E0;


$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Open Sans', sans-serif;
