@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

// 游 Espaciado vertical en m칩viles
@media (max-width: 576px) {
  .row.g-3 > div {
    margin-bottom: 1rem;
  }

  .row.g-3 .text-md-end {
    text-align: start !important;
  }
}

// 游릭 Tabla responsive cl치sica con scroll horizontal en m칩vil
.table-responsive {
  width: 100%;
  overflow-x: auto;

  .table {
    min-width: 700px; // ajusta seg칰n tus columnas
  }
}

// 游릮 Estilo de hover y puntero sobre filas y celdas
.clickable-table tbody tr:hover {
  background-color: $color-secundario !important;
  transition: background-color 0.2s ease;
}

::ng-deep table.clickable-table > tbody > tr > td {
  cursor: pointer !important;
}
