@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

@media (max-width: 576px) {
  .row.g-3 > div {
    margin-bottom: 1rem;
  }

  .row.g-3 .text-md-end {
    text-align: start !important;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;

  .table {
    min-width: 700px; 
  }
}

.clickable-table tbody tr:hover {
  background-color: $color-secundario !important;
  transition: background-color 0.2s ease;
}

::ng-deep table.clickable-table > tbody > tr > td {
  cursor: pointer !important;
}
