@use '../../../../styles/variables' as *;

.list-group-item {
  font-family: $fuente-secundaria;
  font-size: 1rem;
  color: $color-texto;
  border: none;
  padding: 0.75rem 1rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-fondo;
  }

  i {
    color: $color-primario;
  }

  &.active {
    background-color: $color-secundario;
    color: white;

    i {
      color: white;
    }
  }
}
