@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


// Tema por rol
.navbar-cliente {
  background-color: $color-primario;

  .navbar-brand {
    color: $color-secundario !important;
  }

  .btn,
  .btn-outline-light {
    background-color: $color-secundario;
    color: white;
    border: none;

    &:hover {
      background-color: white;
      color: $color-secundario;
      border: 1px solid $color-secundario;
    }
  }
}

.navbar-admin {
  background-color: $color-secundario;

  .navbar-brand {
    color: $color-primario !important;
  }

  .btn,
  .btn-outline-light {
    background-color: $color-primario;
    color: white;
    border: none;

    &:hover {
      background-color: white;
      color: $color-primario;
      border: 1px solid $color-primario;
    }
  }
}
