@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.navbar-cliente,
.navbar-admin {
  position: sticky;
  top: 0;
  z-index: 1060; // mayor que el banner
}

.navbar-cliente {
  background-color: $color-primario;

  .navbar-brand {
    color: $color-secundario !important;
  }

  .logo-bg {
    fill: $color-primario;
  }

  .btn,
  .btn-outline-light {
    background-color: $color-secundario;
    color: white;
    border: none;

    &:hover {
      background-color: white;
      color: $color-secundario;
      border: 1px solid $color-secundario;
    }
  }
}

.navbar-admin {
  background-color: $color-secundario;

  .navbar-brand {
    color: $color-primario !important;
  }

  .logo-bg {
    fill: $color-secundario;
  }

  .btn,
  .btn-outline-light {
    background-color: $color-primario;
    color: white;
    border: none;

    &:hover {
      background-color: white;
      color: $color-primario;
      border: 1px solid $color-primario;
    }
  }
}

.logo-svg {
  width: clamp(120px, 25vw, 200px);
  height: auto;
  display: block;

  path {
    fill: currentColor;
  }
}

