@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.navbar-cliente,
.navbar-admin {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  width: 100%;
}


// Estilo para CLIENTES
.navbar-cliente {
  background-color: $color-primario;

  .navbar-brand {
    color: $color-secundario;
  }

  .logo-bg {
    fill: $color-primario;
  }

  .logo-gb {
    fill: $color-secundario;
  }

  .navbar-collapse,
  .navbar-nav {
    background-color: $color-primario;
  }

  .nav-link {
    color: white !important;

    &:hover {
      color: lighten(white, 20%) !important;
    }
  }

  .btn,
  .btn-outline-light {
    background-color: $color-secundario;
    color: white;
    border: none;

    &:hover {
      background-color: white;
      color: $color-secundario;
      border: 1px solid $color-secundario;
    }
  }
}

// Estilo para ADMINISTRADORES
.navbar-admin {
  background-color: $color-secundario;

  .navbar-brand {
    color: $color-primario !important;
  }

  .logo-bg {
    fill: $color-secundario;
  }

  .navbar-collapse,
  .navbar-nav {
    background-color: $color-secundario;
  }

  .nav-link {
    color: white !important;

    &:hover {
      color: lighten(white, 20%) !important;
    }
  }

  .btn,
  .btn-outline-light {
    background-color: $color-primario;
    color: white;
    border: none;

    &:hover {
      background-color: white;
      color: $color-primario;
      border: 1px solid $color-primario;
    }
  }
}

// Logo adaptable
.logo-svg {
  width: clamp(120px, 25vw, 200px);
  height: auto;
  display: block;

  path {
    fill: currentColor;
  }
}