
.navbar {
  padding: 0.5rem 1rem;
}


.nav-link {
  font-size: 1.1rem;
  margin-right: 1rem;
  transition: color 0.3s ease;
}


.nav-link:hover {
  color: #ffc107; 
}


.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    margin: 0.5rem 0;
  }
}
