<h2>Mis direcciones</h2>

<ul *ngIf="direcciones.length > 0; else sinDirecciones">
  <li *ngFor="let dir of direcciones">
    <strong>{{ dir.alias }}</strong>: {{ dir.calle }}, {{ dir.numero }}
    <span *ngIf="dir.piso">, Piso {{ dir.piso }}</span> -
    {{ dir.ciudad }}, {{ dir.provincia }} ({{ dir.codigoPostal }}), {{ dir.pais }}

    <button (click)="editarDireccion(dir)">Editar</button>
    <button (click)="eliminarDireccion(dir.id)">Eliminar</button>
  </li>
</ul>

<ng-template #sinDirecciones>
  <p class="text-muted">No tienes direcciones registradas.</p>
</ng-template>

<button (click)="iniciarNueva()">Añadir dirección</button>

<form *ngIf="mostrarFormulario" [formGroup]="formDireccion" (ngSubmit)="onSubmit()">
  <div *ngFor="let campo of ['alias', 'calle', 'numero', 'piso', 'ciudad', 'provincia', 'codigoPostal', 'pais']">
    <label [for]="campo" class="form-label text-capitalize">{{ campo }}:</label>

    <input type="text" [formControlName]="campo" [id]="campo" class="form-control"
      [ngClass]="{ 'is-invalid': formDireccion.get(campo)?.invalid && formDireccion.get(campo)?.touched }"
      [attr.inputmode]="campo === 'numero' || campo === 'codigoPostal' ? 'numeric' : null"
      [attr.pattern]="campo === 'numero' ? '\\d+' : campo === 'codigoPostal' ? '\\d{5}' : null" />


    <div *ngIf="formDireccion.get(campo)?.invalid && formDireccion.get(campo)?.touched" class="invalid-feedback">
      <div *ngIf="formDireccion.get(campo)?.errors?.['required']">
        Este campo es obligatorio.
      </div>
      <div *ngIf="formDireccion.get(campo)?.errors?.['minlength']">
        Debe tener al menos 3 caracteres.
      </div>
      <div *ngIf="campo === 'numero' && formDireccion.get(campo)?.errors?.['pattern']">
        Solo se permiten números enteros.
      </div>
      <div *ngIf="campo === 'codigoPostal' && formDireccion.get(campo)?.errors?.['pattern']">
        Debe tener 5 dígitos numéricos.
      </div>
    </div>
    <br />
  </div>

  <button type="submit" class="btn btn-success" [disabled]="formDireccion.invalid">
    {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
  </button>
</form>