:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner-wrapper {
  position: fixed;
  top: 70px; 
  left: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  pointer-events: none;
}


main {
  flex-grow: 1;
  padding-top: 70px;
  
}



@media (max-width: 768px) {
  main {
    padding-top: 60px;
  }
}

@media (min-width: 769px) {
  main {
    padding-top: 70px;
  }
}
