<h2>Área privada</h2>
<p>Bienvenido, {{ email }} (Rol: {{ rol }})</p>

<nav class="list-group mt-4">
<a routerLink="/crear-pedido" class="list-group-item list-group-item-action">
  🛒 Crear pedido para cliente
</a>

<div *ngIf="rol === 'ROLE_ADMIN'" class="mt-4">
  <a routerLink="/admin/ventas" class="btn btn-primary">
    📊 Ver ventas por empleados
  </a>
</div>

  <a routerLink="/componentes" class="list-group-item list-group-item-action">
    🧩 Ver todos los componentes
  </a>

  <a *ngIf="roleService.isAdmin()" routerLink="/admin/usuarios" class="list-group-item list-group-item-action">
    👥 Gestión de usuarios (solo admin)
  </a>
</nav>

<hr />

<!-- Aquí se cargan las vistas hijas del dashboard -->
<router-outlet></router-outlet>

<button class="btn btn-danger mt-4" (click)="logout()">Cerrar sesión</button>
