@use '../../../styles/variables' as *;

.banner-carrito {
  position: relative;
  top: unset; 
  margin: 0;
  z-index: 1055;
  color: white;
  font-family: $fuente-principal;
  font-size: 1rem;
  text-align: center;
  padding: 0.75rem;
  background-color: $color-secundario; // será sobrescrito por clase dinámica
  animation: fadeInOut 1.5s ease-in-out forwards;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  &.banner-cliente {
    background-color: $color-secundario;
  }

  &.banner-admin {
    background-color: $color-primario;
  }
}
